@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Nunito);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto Mono", "Roboto", helvetica, sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
}